---
import { Image, getImage } from "astro:assets";
import { getCollection } from "astro:content";

import { GA_MEASUREMENT_ID, SITE_TITLE } from "../consts";

import { getTags } from "../utils/post";
import { sortByDate } from "../utils/sortByDate";

import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import PostItem from "../components/PostItem.astro";
import Tag from "../components/Tag.astro";

import avatarImg from "../assets/images/namvh.jpeg";
import headerImg from "../assets/images/tao-dan-band.jpeg";
import LatestPostItem from "../components/LatestPostItem.astro";

const tutorials = await getCollection("tutorial");
const hobbies = await getCollection("hobby");

const allPosts = [...hobbies, ...tutorials].sort(sortByDate);
const latestPosts = allPosts.slice(0, 6);
const posts = tutorials.sort(sortByDate).slice(0, 4);

const optimizedBackground = await getImage({ src: headerImg, format: "webp" });

const tags = await getTags(allPosts);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body>
    <Header title={SITE_TITLE} />

    <main>
      <div class="bg-white dark:bg-slate-800">
        <div class="container mx-auto">
          <header
            class="flex items-center justify-center h-[50vh] mb-12 bg-fixed bg-bottom bg-cover mt-20 rounded-b-lg"
            style={`background-image: url(${optimizedBackground.src});`}
          >
          </header>
        </div>

        <section class="container mx-auto">
          <div class="mt-[-7rem] px-8">
            <h2 class="hidden">Giới thiệu bản thân</h2>
            <div class="inline-flex items-end mb-6">
              <Image
                class="rounded-full border-2 border-white dark:border-black"
                src={avatarImg}
                alt="Nam Vo"
                width={160}
                height={160}
                quality="mid"
              />
              <p class="ml-6 text-heading">
                <strong class="text-3xl">Nam Vo</strong>
                <br />
                <span class="text-xs font-semibold tracking-wide"
                  >Software Engineer</span
                >
                <br />
                <span class="text-sm"
                  >Đây là website cá nhân để lưu lại những kiến thức đã tích lũy
                  trong thời gian qua. Và cũng như chia sẻ chúng với mọi người.</span
                >
              </p>
            </div>
          </div>
        </section>
      </div>

      <section class="container mx-auto px-8 py-10">
        <h2
          class="mb-6 text-sm leading-6 font-semibold text-sky-500 dark:text-sky-400"
        >
          Bài viết mới
        </h2>
        <ul class="grid grid-cols-3 gap-6">
          {latestPosts.map((post) => <LatestPostItem post={post} />)}
        </ul>
      </section>

      <div class="container mx-auto py-10">
        <div class="flex flex-row px-8 gap-8">
          <section class="basis-8/12">
            <div class="py-6">
              <h2
                class="mb-6 text-sm leading-6 font-semibold text-sky-500 dark:text-sky-400"
              >
                Chia sẻ về Công nghệ Phần mềm
              </h2>
              <ul class="flex flex-col gap-6 pb-6">
                {
                  posts.map((post) => (
                    <PostItem post={post} category="tutorials" />
                  ))
                }
              </ul>
              <div class="text-right hover:underline">
                <a href="/tutorials">» Xem thêm</a>
              </div>
            </div>
          </section>

          <section class="basis-4/12">
            <div class="py-6">
              <h2
                class="mb-6 text-sm leading-6 font-semibold text-sky-500 dark:text-sky-400"
              >
                Khám phá thêm các chủ đề
              </h2>
              <div class="flex flex-wrap gap-1">
                {Object.keys(tags).map((tag) => <Tag tag={tag} />)}
              </div>
            </div>
          </section>
        </div>
      </div>
    </main>

    <Footer />

    <!-- Google Analytics 4 -->
    <!-- <script
      async
      type="text/partytown"
      src={`https://www.googletagmanager.com/gtag/js?id=${GA_MEASUREMENT_ID}`}
    ></script>

    <script type="text/partytown" define:vars={{ GA_MEASUREMENT_ID }}>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        window.dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", GA_MEASUREMENT_ID);
    </script> -->
  </body>
</html>
