---
import { getCollection } from "astro:content";
import { Image, getImage } from "astro:assets";

import { GA_MEASUREMENT_ID } from "../consts";

import { getTags } from "../utils/post";
import { sortByDate } from "../utils/sortByDate";

import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import LatestPostItem from "../components/LatestPostItem.astro";
import PostItem from "../components/PostItem.astro";
import Tag from "../components/Tag.astro";

import avatarImg from "../assets/images/namvh.jpeg";
import headerImg from "../assets/images/tao-dan-band.jpeg";

const tutorials = await getCollection("tutorial");
const hobbies = await getCollection("hobby");

const allPosts = [...hobbies, ...tutorials].sort(sortByDate);
const latestPosts = allPosts.slice(0, 6);
const posts = tutorials.sort(sortByDate).slice(0, 4);

const optimizedBackground = await getImage({ src: headerImg, format: "webp" });

const tags = await getTags(allPosts);
---

<!doctype html>
<html lang="vi">
  <head>
    <BaseHead />
  </head>
  <body>
    <Header />

    <main>
      <div class="bg-white dark:bg-slate-800">
        <div class="container mx-auto">
          <header
            class="flex items-center justify-center h-[40vh] md:h-[50vh] mb-12 bg-fixed bg-bottom bg-[length:180%] md:bg-cover mt-20 rounded-b-lg bg-[center_top_-10vh] md:bg-[center_bottom]"
            style={`background-image: url(${optimizedBackground.src});`}
          >
          </header>
        </div>

        <section class="container mx-auto">
          <div class="mt-[-7rem] px-8 pb-2 md:pb-0">
            <h2 class="hidden">Giới thiệu bản thân</h2>
            <div
              class="flex flex-col xl:flex-row md:inline-flex items-center md:items-end mb-6"
            >
              <Image
                class="rounded-full border-2 border-white dark:border-black"
                src={avatarImg}
                alt="Nam Vo"
                width={160}
                height={160}
                quality="mid"
              />
              <p class="md:ml-6 text-heading text-center md:text-left">
                <strong
                  class="text-2xl md:text-3xl text-slate-900 dark:text-slate-200 font-display mb-2"
                  >Nam Vo</strong
                >
                <span
                  class="block text-xs font-semibold font-display mb-3 md:mb-0"
                  >Software Engineer | Trumpeter</span
                >
                <span class="block text-sm"
                  >Đây là website cá nhân để lưu lại những kiến thức đã tích lũy
                  trong thời gian qua. Và cũng như chia sẻ chúng với mọi người.</span
                >
              </p>
            </div>
          </div>
        </section>
      </div>

      <section class="container mx-auto px-4 md:px-8 py-10">
        <h2
          class="mb-6 text-sm leading-6 font-semibold text-sky-500 dark:text-sky-400"
        >
          Bài viết mới
        </h2>
        <ul class="grid grid-cols-1 md:grid-cols-3 gap-6">
          {latestPosts.map((post) => <LatestPostItem post={post} />)}
        </ul>
      </section>

      <div class="container mx-auto py-10">
        <div class="flex flex-row px-4 md:px-8 gap-8">
          <section class="basis-full md:basis-8/12">
            <div class="py-6">
              <h2
                class="mb-6 text-sm leading-6 font-semibold text-sky-500 dark:text-sky-400"
              >
                Chia sẻ về Công nghệ Phần mềm
              </h2>
              <ul class="flex flex-col gap-6 pb-6">
                {
                  posts.map((post) => (
                    <PostItem post={post} category="tutorials" />
                  ))
                }
              </ul>
              <div class="text-right">
                <a
                  href="/tutorials"
                  class="text-slate-900 dark:text-slate-200 border-b border-b-primary-400 hover:border-b-2"
                  >» Xem thêm</a
                >
              </div>
            </div>
          </section>

          <section class="basis-full md:basis-4/12 hidden md:block">
            <div class="py-6">
              <h2
                class="mb-6 text-sm leading-6 font-semibold text-sky-500 dark:text-sky-400"
              >
                Khám phá thêm các chủ đề
              </h2>
              <div class="flex flex-wrap gap-1">
                {
                  Object.keys(tags).map((slug) => (
                    <Tag tag={tags[slug]} slug={slug} />
                  ))
                }
              </div>
            </div>
          </section>
        </div>
      </div>
    </main>

    <Footer />

    <!-- Google Analytics 4 -->
    <script
      async
      type="text/partytown"
      src={`https://www.googletagmanager.com/gtag/js?id=${GA_MEASUREMENT_ID}`}
    ></script>

    <script type="text/partytown" define:vars={{ GA_MEASUREMENT_ID }}>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        window.dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", GA_MEASUREMENT_ID);
    </script>
  </body>
</html>
