---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.

import { SITE_AUTHOR, SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import "../styles/global.css";

export interface Props {
  title?: string;
  description?: string;
  cover?: string;
  articleDate?: string;
}

const { title, description, cover, articleDate } = Astro.props;

const expectedTitle = title ? `${title} | ${SITE_TITLE}` : SITE_TITLE;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const socialImageURL = new URL(
  cover ? cover : "/placeholder-social.jpg",
  Astro.url
).href;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="manifest" href="/site.webmanifest" />
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="theme-color" content="#0ea5e9" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{expectedTitle}</title>
<meta name="title" content={expectedTitle} />
<meta name="description" content={description ?? SITE_DESCRIPTION} />
<meta name="author" content={SITE_AUTHOR} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={expectedTitle} />
<meta property="og:description" content={description ?? SITE_DESCRIPTION} />
<meta property="og:image" content={socialImageURL} />
{
  articleDate && (
    <>
      <meta property="article:author" content={SITE_AUTHOR} />
      <meta property="article:published_time" content={articleDate} />
    </>
  )
}

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={expectedTitle} />
<meta
  property="twitter:description"
  content={description ?? SITE_DESCRIPTION}
/>
<meta property="twitter:image" content={socialImageURL} />

<!-- RSS auto-discovery -->
<link
  rel="alternate"
  type="application/rss+xml"
  title={SITE_TITLE}
  href={`${Astro.site}rss.xml`}
/>

<!-- Facebook -->
<meta property="fb:app_id" content="2064203853819553" />
