---
import pluralize from "pluralize";

import FormattedDate from "./FormattedDate.astro";

const { post } = Astro.props;
---

<li class="box-border">
  <FormattedDate pubDate={post.data.pubDate} />
  <a
    href={`/${pluralize(post.collection)}/${post.slug}/`}
    class="block pb-1 text-lg md:text-xl text-slate-900 dark:text-slate-200 font-display"
  >
    {post.data.title}
  </a>
  <p class="text-sm box-border">{post.data.description}</p>
</li>
