---
const { category, nextPost, prevPost } = Astro.props;
---

<nav class="container mx-auto" aria-label="Bài viết trước và sau">
  <div class="grid grid-cols-2 gap-4 pb-6 px-8">
    <div class="text-left">
      {
        prevPost && (
          <a
            href={`/${category}/${prevPost.id}/`}
            class="text-xl text-slate-900 dark:text-slate-200 border-b border-b-primary-400 hover:border-b-2"
          >
            <span class="block pb-1 text-xs text-slate-600 dark:text-slate-400 text-semibold uppercase">
              ← Quay lại
            </span>
            <span class="font-display">{prevPost.data?.title}</span>
          </a>
        )
      }
    </div>

    <div class="text-right">
      {
        nextPost && (
          <a
            href={`/${category}/${nextPost.id}/`}
            class="text-xl text-slate-900 dark:text-slate-200 border-b border-b-primary-400 hover:border-b-2"
          >
            <span class="block pb-1 text-xs text-slate-600 dark:text-slate-400 text-semibold uppercase">
              Xem tiếp →
            </span>
            <span class="font-display">{nextPost.data?.title}</span>
          </a>
        )
      }
    </div>
  </div>
</nav>
