---
import { Image } from "astro:assets";
import { getAverageColor } from "fast-average-color-node";

import FormattedDate from "./FormattedDate.astro";

const { post, category } = Astro.props;

const cover = post.data.cover ?? "/placeholder-social.jpg";

const backgroundColor =
  typeof cover === "object"
    ? await getAverageColor(cover.fsPath)
    : "transparent";
---

<li
  class="flex flex-col md:flex-row items-center md:gap-6 px-4 bg-white dark:bg-slate-800"
>
  <div class="relative overflow-hidden min-w-[10rem] rounded">
    <div
      class="flex items-center my-4 rounded-sm"
      style={`background-color: ${typeof cover === "object" ? (backgroundColor as any).hex : backgroundColor}`}
    >
      <Image
        src={cover}
        width={160}
        height={160}
        class="h-full min-w-full object-cover hover:scale-[101%] transition-all duration-200 rounded-sm"
        alt={post.data.title}
        quality="low"
      />
    </div>
  </div>
  <div class="w-full pb-4 md:py-4">
    <FormattedDate pubDate={post.data.pubDate} />
    <a
      href={`/${category}/${post.slug}/`}
      class="block pb-1 text-lg md:text-xl text-slate-900 tracking-tight dark:text-slate-200"
    >
      {post.data.title}
    </a>
    <p class="text-sm">{post.data.description}</p>
  </div>
</li>
