---
import FormattedDate from "./FormattedDate.astro";

const { post, category } = Astro.props;
---

<li class="pb-10">
  <FormattedDate pubDate={post.data.pubDate} />
  <a
    href={`/${category}/${post.slug}/`}
    class="block pb-1 text-xl text-primary-500 hover:text-primary-600 active:text-primary-700"
  >
    {post.data.title}
  </a>
  <p>{post.data.description}</p>
</li>
