---
import { FB_APP_ID, GA_MEASUREMENT_ID } from "../consts";

import BaseHead from "../components/BaseHead.astro";
import CopyCodeButton from "../components/CopyCodeButton.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";
import Nav from "../components/Nav.astro";
import Navigate from "../components/Navigate.astro";
import TableOfContents from "../components/TableOfContents.astro";

const {
  title,
  description,
  pubDate,
  cover,
  category,
  headings,
  prevPost,
  nextPost,
} = Astro.props;
const articleDate = new Date(pubDate).toISOString();
---

<html lang="vi">
  <head>
    <BaseHead
      title={title}
      description={description}
      image={cover}
      articleDate={articleDate}
    />
  </head>

  <body>
    <Header />

    <Nav />

    <main
      class="sm:mx-auto sm:max-w-2xl px-4 sm:px-8 lg:px-0 antialiased md:max-w-6xl"
    >
      <div class="mb-12 pt-10">
        <div
          class="border-b border-slate-200 dark:border-slate-700 text-center"
        >
          <h1 class="pb-2 text-3xl font-semibold !text-primary-500">{title}</h1>
          <div class="mb-10 text-sm">
            Ngày đăng <FormattedDate pubDate={pubDate} />
          </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-[30%_auto] gap-10 mt-8">
          <!-- aside  -->
          <aside class="md:flex flex-col gap-8 hidden">
            <div
              class="sticky top-24 self-start hidden md:block transition-all duration-200"
            >
              {
                headings && headings.length > 0 && (
                  <TableOfContents {headings} />
                )
              }
            </div>
          </aside>

          <!-- post -->
          <article class="max-w-full w-full">
            <div class="mb-12 min-w-full content">
              <slot />
            </div>
          </article>
        </div>
      </div>

      <!-- related posts -->
      <Navigate category={category} {prevPost} {nextPost} />
    </main>

    <Footer />

    <CopyCodeButton />

    <script>
      const fnObserver = () => {
        function handleIntersection(
          entries: IntersectionObserverEntry[],
          observer: IntersectionObserver
        ) {
          entries.forEach((entry) => {
            const index = document.querySelector(
              `aside a[href="#${entry.target.id}"]`
            );

            if (entry.isIntersecting) {
              index?.classList.remove("bg-slate-200", "dark:bg-slate-800"); // remove bg
              index?.classList.add(
                "bg-indigo-600",
                "dark:bg-indigo-700",
                "text-white",
                "font-bold",
                "transition-colors",
                "duration-200"
              );
            } else {
              index?.classList.add("bg-slate-200", "dark:bg-slate-800"); // add bg
              index?.classList.remove(
                "bg-indigo-600",
                "dark:bg-indigo-700",
                "text-white",
                "font-bold",
                "transition-colors",
                "duration-200"
              );
            }
          });
        }

        const headings = document.querySelectorAll(
          "div h1, div h2, div h3, div h4, div h5, div h6"
        );

        const options = {
          root: null,
          rootMargin: " 15% 0px 0% 0px ",
          threshold: 1,
        };

        const observer = new IntersectionObserver(handleIntersection, options);

        headings.forEach((heading) => {
          observer.observe(heading);
        });
      };
      fnObserver();
      document.addEventListener("astro:after-swap", fnObserver);
    </script>

    <!-- Facebook SDK -->
    <script
      async
      defer
      crossorigin="anonymous"
      type="text/partytown"
      src="https://connect.facebook.net/en_US/sdk.js"></script>

    <script type="text/partytown" define:vars={{ FB_APP_ID }}>
      window.fbAsyncInit = function () {
        window.FB.init({
          appId: FB_APP_ID,
          autoLogAppEvents: true,
          xfbml: true,
          version: "v17.0",
        });
      };
    </script>

    <!-- Google Analytics 4 -->
    <script
      async
      type="text/partytown"
      src={`https://www.googletagmanager.com/gtag/js?id=${GA_MEASUREMENT_ID}`}
    ></script>

    <script type="text/partytown" define:vars={{ GA_MEASUREMENT_ID }}>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        window.dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", GA_MEASUREMENT_ID);
    </script>
  </body>
</html>
