---
import { GA_MEASUREMENT_ID } from "../consts";

import BaseHead from "../components/BaseHead.astro";
import CopyCodeButton from "../components/CopyCodeButton.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";
import Navigate from "../components/Navigate.astro";
import TableOfContents from "../components/TableOfContents.astro";

const {
  title,
  description,
  pubDate,
  cover,
  category,
  headings,
  prevPost,
  nextPost,
} = Astro.props;
const articleDate = new Date(pubDate).toISOString();
---

<html lang="vi">
  <head>
    <BaseHead
      title={title}
      description={description}
      image={cover}
      articleDate={articleDate}
    />
  </head>

  <body>
    <Header />

    <main class="my-20">
      <div
        class="py-5 xl:py-20 px-4 mb-12 bg-white dark:bg-slate-800 text-center"
      >
        <h1
          class="text-slate-900 font-semibold text-2xl sm:text-3xl lg:text-4xl tracking-tight dark:text-slate-200 mb-2 xl:mb-6"
        >
          {title}
        </h1>
        <div class="text-sm leading-6">
          <dl>
            <dt class="sr-only">Date</dt>
            <dd class="inset-x-0 text-slate-700 dark:text-slate-400">
              Ngày đăng
              <time datetime={pubDate.toISOString()}>
                <FormattedDate pubDate={pubDate} />
              </time>
            </dd>
          </dl>
        </div>
      </div>

      <div class="container mx-auto pb-20">
        <div class="flex flex-row px-4 xl:px-8 gap-8">
          <!-- aside  -->
          <aside class="xl:w-3/12 shrink-0 hidden lg:block">
            <div
              class="sticky top-24 self-start hidden lg:block transition-all duration-200"
            >
              {
                headings && headings.length > 0 && (
                  <TableOfContents {headings} />
                )
              }
            </div>
          </aside>

          <!-- post -->
          <article class="w-full xl:w-9/12 shrink-0">
            <div class="mb-12 min-w-full content">
              <slot />
            </div>
          </article>
        </div>
      </div>

      <!-- related posts -->
      <Navigate category={category} {prevPost} {nextPost} />
    </main>

    <Footer />

    <CopyCodeButton />

    <script>
      const fnObserver = () => {
        function handleIntersection(
          entries: IntersectionObserverEntry[],
          observer: IntersectionObserver
        ) {
          entries.forEach((entry) => {
            const index = document.querySelector(
              `aside a[href="#${entry.target.id}"]`
            );

            if (entry.isIntersecting) {
              index?.classList.remove("bg-slate-200", "dark:bg-slate-800"); // remove bg
              index?.classList.add(
                "bg-primary-600",
                "dark:bg-primary-700",
                "text-white",
                "font-bold",
                "transition-colors",
                "duration-200"
              );
            } else {
              index?.classList.add("bg-slate-200", "dark:bg-slate-800"); // add bg
              index?.classList.remove(
                "bg-primary-600",
                "dark:bg-primary-700",
                "text-white",
                "font-bold",
                "transition-colors",
                "duration-200"
              );
            }
          });
        }

        const headings = document.querySelectorAll(
          "div h1, div h2, div h3, div h4, div h5, div h6"
        );

        const options = {
          root: null,
          rootMargin: " 15% 0px 0% 0px ",
          threshold: 1,
        };

        const observer = new IntersectionObserver(handleIntersection, options);

        headings.forEach((heading) => {
          observer.observe(heading);
        });
      };
      fnObserver();
      document.addEventListener("astro:after-swap", fnObserver);
    </script>

    <!-- Google Analytics 4 -->
    <script
      async
      type="text/partytown"
      src={`https://www.googletagmanager.com/gtag/js?id=${GA_MEASUREMENT_ID}`}
    ></script>

    <script type="text/partytown" define:vars={{ GA_MEASUREMENT_ID }}>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        window.dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", GA_MEASUREMENT_ID);
    </script>
  </body>
</html>
